@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row justify-content-end">
            <div class="">
                <div class="row justify-content-center">

                    <div class="flight-and-check">
                        <div class="count-box">
                            <a class="search-flight">
                                <i class='bx bxs-plane-take-off'></i>
                                <p>Search Flights</p>
                            </a>
                            <!-- <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                            <p>Happy Clients</p> -->
                        </div>
                    </div>

                    <div class="flight-and-check">
                        <div class="count-box">
                            <a class="search-flight">
                                <i class='bx bxs-badge-check'></i>
                                <p>Online-Check-In</p>
                            </a>
                            <!-- <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="direction-area">
                <div class="one-two-direction">
                    <p>Tek Yön</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <p>Gidiş Dönüş</p>
                </div>
            </div>

            <div class="prefence-area">
                <div class="location-section">
                    <div class="from-where">
                        <li class="dropdown">
                            <a><span>Nereden</span> <i class="bi bi-chevron-right"></i></a>
                            <input type="text">
                            <ul>
                                <li><a>İstanbul</a></li>
                                <li><a>Ankara</a></li>
                                <li><a>Sivas</a></li>
                                <li><a>İzmir</a></li>
                                <li><a>Dalaman</a></li>
                            </ul>
                        </li>

                    </div>

                    <div class="from-where">
                        <li class="dropdown">
                            <a><span>Nereye</span> <i class="bi bi-chevron-right"></i></a>
                            <input type="text">
                            <ul>
                                <li><a>İstanbul</a></li>
                                <li><a>Ankara</a></li>
                                <li><a>Sivas</a></li>
                                <li><a>İzmir</a></li>
                                <li><a>Dalaman</a></li>
                            </ul>
                        </li>
                    </div>

                    <div class="from-where">
                        <li class="dropdown">
                            <a><span>Gidiş T.</span> <i class="bi bi-chevron-right"></i></a>
                            <input type="date">
                        </li>
                    </div>

                    <div class="from-where">
                        <li class="dropdown">
                            <a><span>Dönüş T.</span> <i class="bi bi-chevron-right"></i></a>
                            <input type="date">
                        </li>
                    </div>

                    <div class="from-where">
                        <li class="dropdown">
                            <a><span>Yolcu Sayısı</span> <i class="bi bi-chevron-right"></i></a>
                            <input type="text">
                            <ul>
                                <li><a>Yetişkin</a><button>-</button><p>1</p><button>+</button></li>
                                <li><a>Çocuk</a></li>
                                <li><a>Bebek</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

            </div>

            <!-- <div class="col-lg-6 video-box align-self-baseline position-relative">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
            </div> -->
            <!-- <div class="col-lg-6 pt-3 pt-lg-0 content">
              <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
                <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div> -->

        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="fade-in">

        <div class="text-center">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <!-- <a class="cta-btn" href="#">Call To Action</a> -->
        </div>

    </div>
</section><!-- End Cta Section -->